<%= form_for(@questions_quiz) do |f| %>
  <% if @questions_quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questions_quiz.errors.count, "error") %> prohibited this questions_quiz from being saved:</h2>

      <ul>
      <% @questions_quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quiz_id %><br>
    <%= f.number_field :quiz_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :user_answer %><br>
    <%= f.number_field :user_answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
