<h1>Listing hints</h1>

<table>
  <thead>
    <tr>
      <th>Tip</th>
      <th>Tutor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hints.each do |hint| %>
      <tr>
        <td><%= hint.tip %></td>
        <td><%= hint.tutor_id %></td>
        <td><%= link_to 'Show', hint %></td>
        <td><%= link_to 'Edit', edit_hint_path(hint) %></td>
        <td><%= link_to 'Destroy', hint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hint', new_hint_path %>
